.bottom-container {
  padding: 0 8%;
  padding-top: 0.5rem;
  font-size: 1.4rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border-top: 1px solid #495057;
}

.settings-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.username {
  cursor: pointer;
  padding: 0.6rem 1rem;

  border-radius: 0.6rem;
}

.token-box {
  position: absolute;
  z-index: 30;
  transform: translate(-10%, -100%);

  padding: 1rem;
  border-radius: 0.6rem;

  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #212529;
}

.on {
  display: flex;
}

.username:hover {
  background-color: #495057;
}

.actions-container {
  padding-left: 2%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-container {
  padding: 0.5rem;
  border-radius: 0.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.icon-container:hover {
  background-color: #495057;
  cursor: pointer;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.logout {
  color: rgb(243, 56, 56);
}

.lock {
  color: rgb(243, 56, 56);
}

.unlock {
  color: rgb(0, 245, 0);
}

.info {
  position: absolute;
  z-index: 30;

  padding: 1rem;
  border-radius: 0.6rem;

  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #212529;
}

.lock-box {
  left: 0;
  transform: translate(-38%, -65%);
  width: 18rem;
  height: 14rem;
}

.lock:hover + .info.lock-box {
  display: flex;
}

.unlock:hover + .info.lock-box {
  display: flex;
}

.contact-box {
  left: 0;
  transform: translate(-30%, -85%);
}

.icon:hover + .info.contact-box {
  display: flex;
}
