.head-container {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;

  width: 100%;
  border-radius: 0.6rem;
  height: 15%;

  z-index: 1;

  cursor: pointer;
}

.head-container.active {
  background-color: #495057;
}

.head-container:hover {
  text-decoration: none;
  background-color: #495057;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10%;
}

.status-circle {
  width: 0.8rem;
  height: 0.8rem;

  border-radius: 50%;
}

.active {
  background-color: rgb(48, 48, 255);
}

.passive {
  background-color: #6c757d;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  margin-right: 2rem;
}

.chat-name {
  color: #f8f9fa;

  font-size: 1.4rem;
}

.last-message {
  font-size: 1.2rem;
}

.last-message.active {
  background-color: inherit;
  color: rgb(72, 72, 255);
  font-weight: 500;
}

.last-message.passive {
  background-color: inherit;
  color: #dee2e6;
}

.date-container {
  margin-left: auto;
  margin-right: 1rem;
}

.date {
  font-size: 1.3rem;
  color: #f8f9fa;
}
