.top-container {
  display: flex;
  flex-direction: column;

  justify-content: center;

  padding-bottom: 1rem;
  border-bottom: 1px solid #495057;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  font-size: 2.6rem;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eeeeee;

  padding: 0.5rem;
  border-radius: 0.6rem;
}

.icon-container:hover {
  cursor: pointer;
  background-color: #495057;
}

.group-icon {
  width: 3rem;
  height: 3rem;
}

.nav-container {
  display: flex;
  gap: 3rem;

  margin-top: 1rem;
  padding: 0 10%;
}

.nav-button {
  font-size: 1.4rem;

  background-color: #495057;

  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
}

.nav-button:hover {
  cursor: pointer;
  background-color: #212529;
}

.active {
  background-color: #212529;
}
