.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.8);

  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.add-contact-container {
  width: 30%;
  height: 75%;

  background-color: #343a40;
  color: #eeeeee;
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.add-member-header {
  color: #eeeeee;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.add-member-form {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  gap: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-field {
  background-color: #343a40;
  color: #eeeeee;
  border-radius: 0.6rem;

  padding: 0.6rem 1rem;
  border: 1px solid #495057;
}

.mode-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mode {
  font-size: 1.2rem;

  background-color: #495057;

  padding: 0.6rem 1rem;
  border-radius: 0.6rem;

  cursor: pointer;
}

.mode:hover {
  cursor: pointer;
  background-color: #212529;
}

.active {
  background-color: #212529;
}

.submit-button {
  align-self: flex-end;

  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #ced4da;
}

.results-container {
  height: 50%;
  width: 80%;
  border-radius: 0.6rem;
  overflow-x: auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;

  border: 1px solid #495057;
}

::-webkit-scrollbar {
  display: none;
}

.close-button {
  align-self: flex-end;
  margin-right: 10%;

  background-color: #343a40;
  color: #eeeeee;

  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
}

.close-button:hover {
  cursor: pointer;
  background-color: #212529;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.result {
  width: 100%;
  border-radius: 0.6rem;
  padding: 0.6rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.4rem;
}

.result:hover {
  cursor: pointer;
  background-color: #495057;
}

.add-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.add-icon:hover {
  cursor: pointer;

  color: blue;
}
